<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de gerenciar usuários</title>
    <link rel="stylesheet" href="{{url_for('static', filename='sgu.css')}}">
    <style>
      body 
      {
          background-image: none;
          background-color: #fff;
      }
  </style>
  </head>
  <body>
    <div>
      <div align="right"> [ <a href="/login"> SAIR! </a> ]</div> 
      Bem vindo {{ login }} !
      <br>
      <a href="/adicionar-novo">ADICIONAR NOVO!</a><br><br>
    </div>
    <table>
        {% for user in users %}
        <tr>
            <td width="50px">{{ user[0] }}</td>
            <td width="100px">{{ user[1] }}</td>
            <td width="100px">{{ user[2] }}</td>
            <td width="200px">
                <a href="/excluir?id={{ user[0] }}">EXCLUIR</a> - <a href="/alterar?id={{ user[0] }}">ALTERAR</a>
            </td>
        </tr>
        {% endfor %}
    </table>
  </body>
</html>